body{
   
    display: flex;
    flex-direction: column;
    height: 300vh;
    align-items: center;
}


@media  (max-width: 800px) {
    html{font-size: 4px;}
    contents{border: 3px solid white;padding: 1.4rem 2rem;}
    contents{border: 3px solid white;padding: 1.4rem 2rem;}
    .left, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }

.footer{
    background-color: rgb(19, 77, 143);
    text-align:justify;
    display: inline;
    position: absolute;
    left:0%;
    top: 200%;
    width: 99%;
    height: 20%;
    padding: 7px;
    color: black;
    font-size: 17px;

}

.footer1{
    background-color: rgb(19, 77, 143);
    text-align:justify;
    display: inline;
    position: absolute;
    margin-left: 4px;
    left:66%;
    top: 0%;;
    width: 30%;
    height: 15%;
    padding: 7px;
    color: white;
    font-size: 17px;

}
.footer2{
    background-color: rgb(19, 77, 143);
    text-align:justify;
    display: inline;
    position: absolute;
    margin-left: 4px;
    left:10%;
    top: 0%;;
    width: 24%;
    height: 15%;
    padding: 7px;
    color: white;
    font-size: 17px;

}
.footer3{
    background-color: rgb(19, 77, 143);
    text-align:justify;
    display: inline;
    position: absolute;
    margin-left: 4px;
    left:40%;
    top: 0%;;
    width: 24%;
    height: 15%;
    padding: 7px;
    color: white;
    font-size: 17px;

}
.bullet1{
    background-color:#ccf381;
    position: absolute;
    left:88%;
    padding: 1px;
    top: 7%;
    width: 7%;
    color: black;
    height: 20%;
    image-resolution: 39 30;
}
.jado{

    font-size: 27px;
    color: #4831d4;
    font-weight: bold;
    width: 170px;
    height: 40px;
    position: absolute;
    top: 47px;
    left: 72px;
}

.contents{
 
    color: rgb(62, 69, 108);
    font-size: 20px;
  
    width: 880px;
    height: 340px;
    position: absolute;
    top: 237px;
    left: 282px;
    font-weight: normal;
    font-family: Eina01-Regular, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
}

.bloscont{
 
    color: rgb(62, 69, 108);
    font-size: 20px;
  
    width: 880px;
    height: 170px;
    position: absolute;
    top: 100px;
    left: 0px;
    font-weight: normal;
    font-family: Eina01-Regular, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
}


 .bullet21{
    background-color:#f5f4fc;
    
    position: absolute;
    left:88%;
    padding: 1px;
    top: 7%;
    width: 27%;
    color: black;
    height: 20%;
    image-resolution: 39 30;
}
.text{
    background-color: #f5f4fc;
    text-align:justify;
    display: inline;
    position: absolute;
    top: 0%;
    left:81%;
    size: 4px;
    font-size: 20px;
    width: 38%;
    height: 60%;
    padding: 7px;


}
.heading{
 background-color: #f5f4fc;
 color: rgb(62, 69, 108);
    font-weight: bold;
    width: 100%;
    height: 20%;
    position: absolute;
    top: 0px;
    left: 12px;
}
.headingn{
    background-color: white;
    color: rgb(62, 69, 108);
       font-weight: bold;
       width: 100%;
       height: 20%;
       position: absolute;
       top: 0px;
       left: 12px;
   }
.logo1{
    background-image: url(/assets/img/logoblog1.jpg);
    background-repeat: no-repeat;
       color: #4831d4;
       font-weight: bold;
       width: 35%;
       height: 75%;
       position: absolute;
       top: 17px;
       left: 2%;
   }
   .menuss{
  
       color: rgb(62, 69, 108);
       font-weight: bold;
       width: 40%;
       height: 57%;
       position: absolute;
       top: 35%;
       left: 37%;
   }
   .contentsss{
 
    font-size: 20px;
   
    width: 20%;
    height: 50%;
    position: absolute;
    top: 44%;
    left: 70%;
}
li{display: inline;padding: 3px;font-size: 20px;text-decoration: none;}
ol li{color:rgb(62, 69, 108);}
 ol li a{text-decoration: none;color:rgb(62, 69, 108) ;}
 .detail1{

    background-color: #f5f4fc;
    color: BLACK;
    font-size: 20px;
    width: 70%;
    height: 50%;
    position: absolute;
    top: 130px;
    left: 20%;
}
.detail1n{

    background-color: white;
    color: BLACK;
    font-size: 18px;
    width: 70%;
    height: 70%;
    position: absolute;
    top: 130px;
    left: 16%;
}
.loimg1{
    
    background-color: hsl(0, 0%, 90%);
    color: BLACK;
    font-size: 20px;
    width: 48%;
    height: 98%;
    position: absolute;
    top: 0px;
    left: 2%;
}
.loform1{

    background:transparent;
    font-size: 18px;
    width: 48%;
    height: 98%;
    position: absolute;
    top: 0px;
    left: 52%;
}
.image1{
    text-align: center;
background-image: url(/assets/img/analy1.jpg);
background-repeat: no-repeat;
    color: BLACK;
    font-size: 20px;
    font-weight: bold;
    width: 40%;
    height: 40%;
    position: absolute;
    top: 0px;
    left: 4%;
}
.image1m{
    text-align: center;
background-image: url(/assets/img/inyange1.jpg);
background-repeat: no-repeat;
    color: BLACK;
    font-size: 20px;
    font-weight: bold;
    width: 40%;
    height: 40%;
    position: absolute;
    top: 0px;
    left: 4%;
}
.content1{
    color: rgb(62, 69, 108) ;
    font-size: 20px;
    width: 94%;
    height: 53%;
    position: absolute;
    top: 46%;
    left: 4%;
}
.detail2{
    background-color: #f5f4fc;
    color: BLACK;
    font-size: 20px;
    width: 70%;
    height: 56%;
    position: absolute;
    top: 440px;
    left: 20%;
}
.image2{
    text-align: center;
background-image: url(/assets/img/analy11.jpg);
background-repeat: no-repeat;
    color: BLACK;
    font-size: 20px;
    width: 40%;
    height: 40%;
    position: absolute;
    top: 0px;
    left: 4%;
}
.image2m{
    text-align: center;
background-image: url(/assets/img/teacomp1.jpg);
background-repeat: no-repeat;
    color: BLACK;
    font-size: 20px;
    width: 40%;
    height: 40%;
    position: absolute;
    top: 0px;
    left: 4%;
}
.content2{
    color: rgb(62, 69, 108) ;
    font-size: 20px;
    width: 94%;
    height: 53%;
    position: absolute;
    top: 46%;
    left: 4%;
}
.detail3{
    background-color: #f5f4fc;
    color: BLACK;
    font-size: 20px;
    width: 70%;
    height: 56%;
    position: absolute;
    top: 810px;
    left: 20%;
}
.image3{
    text-align: center;
background-image: url(/assets/img/analy2.jpg);
background-repeat: no-repeat;
    color: BLACK;
    font-size: 20px;
    width: 40%;
    height: 40%;
    position: absolute;
    top: 0px;
    left: 4%;
}
.image3m{
    text-align: center;
background-image: url(/assets/img/sustmark.jpg);
background-repeat: no-repeat;
    color: BLACK;
    font-size: 20px;
    width: 50%;
    height: 40%;
    position: absolute;
    top: 0px;
    left: 4%;
}
.content3{
    color: rgb(62, 69, 108) ;
    font-size: 20px;
    width: 94%;
    height: 53%;
    position: absolute;
    top: 46%;
    left: 4%;
}
.detail4{
    background-color: #f5f4fc;
    color: BLACK;
    font-size: 20px;
    width: 70%;
    height: 56%;
    position: absolute;
    top: 1127px;
    left: 20%;
}
.image4{
    text-align: center;
background-image: url(/assets/img/analy3.jpg);
background-repeat: no-repeat;
    color: BLACK;
    font-size: 20px;
    width: 40%;
    height: 40%;
    position: absolute;
    top: 0px;
    left: 4%;
}
.image4m{
    text-align: center;
background-image: url(/assets/img/mademark.jpg);
background-repeat: no-repeat;
    color: BLACK;
    font-size: 20px;
    width: 40%;
    height: 40%;
    position: absolute;
    top: 0px;
    left: 4%;
}
.content4{
    color: rgb(62, 69, 108) ;
    font-size: 20px;
    width: 94%;
    height: 53%;
    position: absolute;
    top: 46%;
    left: 4%;
}

.footer{
 
    background-color: #3d155f;
    color: #ccf381;
     font-size: 20px;
   
     width: 100%;
     height: 440px;
     position: absolute;
     top: 1800px;
     left: 0px;
 }
 .footer1{
  
     background-color: #3d155f;
      font-size: 20px;
      color:#ccf381 ;
      width: 50%;
      height: 140px;
      position: absolute;
      top: 50px;
      left: 200px;
  }
  .footer2{
  
     background-color: #3d155f;
     color: #ccf381;
      font-size: 20px;
      
      width: 50%;
      height: 140px;
      position: absolute;
      top: 50px;
      left: 600px;
  }

  ul li{display: block;}
  ul li a{text-decoration: none;color: #ccf381;}
 
 .footer3{
  
     background-color:#3d155f ;
      font-size: 20px;
      color: #ccf381 ;
      width: 80%;
      height: 100px;
      position: absolute;
      top: 270px;
      left: 100px;
  }